<div class="svg-gallery">
	<Svg1 @strokeWidth={{strokeWidth}} class="illo"></Svg1>
	<Svg2 @strokeWidth={{strokeWidth}} class="illo"></Svg2>
	<Svg3 @strokeWidth={{strokeWidth}} class="illo"></Svg3>
</div>

<section class="configuration">
	<div class="configuration__brand_color category">
		<h3>Primary Brand Color:</h3>
		
		<section class="color-swatch-gallery">
			{{#each brandColorList as |color|}}
		    	<div 
		    		class="color-swatch"
		    		style="background-color: {{color.color}}"
		    		
		    	></div>
		  	{{/each}}
	  	</section>
	</div>
	<div class="configuration__stroke_width category">
		<h3>Stroke Width:</h3>
		<p>{{strokeWidth}}</p>
		<input 
			type="range" 
			id="start" 
			name="stroke-width"
		    min="2" 
		    max="10"
		    value={{strokeWidth}}
		>
	</div>

</section>