	<svg width="260px" height="260px" viewBox="0 0 260 260" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
			<title>Intro-Security</title>
			<g id="Intro-Security" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
					<g id="Circle-Frame" transform="translate(26.000000, 26.000000)">
							<g id="BG-Shapes">
									<circle id="Oval-2" class="stroke3 base-fill" stroke-width="2" cx="15.5" cy="57.5" r="4.5"></circle>
									<circle id="Oval-2-Copy" class="stroke3 base-fill" stroke-width="2" cx="164.5" cy="21.5" r="4.5"></circle>
									<polygon id="Combined-Shape-Copy" class="fill3" points="126 4 130 4 130 6 126 6 126 10 124 10 124 6 120 6 120 4 124 4 124 0 126 0"></polygon>
									<path d="M63.5,5.25 L100.5,5.25" id="Line-4" class="stroke3" stroke-width="2" stroke-linecap="round"></path>
									<path d="M104,5.20833333 L108,5.20833333" id="Line-4-Copy" class="stroke3" stroke-width="2" stroke-linecap="round"></path>
									<path d="M112,5.20833333 L116,5.20833333" id="Line-4-Copy-2" class="stroke3" stroke-width="2" stroke-linecap="round"></path>
									<polygon id="Combined-Shape-Copy" class="fill3" points="183 39 187 39 187 41 183 41 183 45 181 45 181 41 177 41 177 39 181 39 181 35 183 35"></polygon>
									<path d="M129.5,40.25 L166.5,40.25" id="Line-4" class="stroke3" stroke-width="2" stroke-linecap="round"></path>
									<path d="M170,40.2083333 L174,40.2083333" id="Line-4-Copy" class="stroke3" stroke-width="2" stroke-linecap="round"></path>
									<path d="M163.5,57.25 L200.5,57.25" id="Line-4" class="stroke3" stroke-width="2" stroke-linecap="round"></path>
									<path d="M204,57.2083333 L208,57.2083333" id="Line-4-Copy" class="stroke3" stroke-width="2" stroke-linecap="round"></path>
									<polygon id="Combined-Shape-Copy" class="fill3" transform="translate(11.000000, 30.000000) rotate(180.000000) translate(-11.000000, -30.000000) " points="12 29 16 29 16 31 12 31 12 35 10 35 10 31 6 31 6 29 10 29 10 25 12 25"></polygon>
									<path d="M28.5,30.15 L65.5,30.15" id="Line-4" class="stroke3" stroke-width="2" stroke-linecap="round" transform="translate(47.000000, 29.950000) rotate(180.000000) translate(-47.000000, -29.950000) "></path>
									<path d="M20,30.1083333 L24,30.1083333" id="Line-4-Copy-2" class="stroke3" stroke-width="2" stroke-linecap="round" transform="translate(22.000000, 29.950000) rotate(180.000000) translate(-22.000000, -29.950000) "></path>
									<polygon id="Combined-Shape-Copy" class="fill3" points="6 88 10 88 10 90 6 90 6 94 4 94 4 90 0 90 0 88 4 88 4 84 6 84"></polygon>
									<polygon id="Combined-Shape" class="fill3" points="12 29 16 29 16 31 12 31 12 35 10 35 10 31 6 31 6 29 10 29 10 25 12 25"></polygon>
							</g>
							<circle id="bg-circle" class="stroke1" fill={{activeBgColor}} stroke-width={{strokeWidth}} cx="104" cy="118" r="91"></circle>
							<path d="M35,175.117648 L172.858761,175.117648 C156.451726,194.932133 131.664695,207.555233 103.929381,207.555233 C76.1940667,207.555233 51.4070355,194.932133 35,175.117648 Z" id="Circle-Floor" class="fill5"></path>
							<path d="M163.152815,175 L172.858761,175 C156.451726,194.814486 131.664695,207.437585 103.929381,207.437585 C94.9813075,207.437585 86.3401097,206.123695 78.1881878,203.678317 C83.9224735,204.832144 89.8552229,205.437585 95.9293807,205.437585 C122.719744,205.437585 146.759299,193.659979 163.152815,175 Z" id="Circle-Shadow" class="shadow"></path>
							<g id="Line" transform="translate(15.000000, 175.000000)" class="stroke1" stroke-linecap="round" stroke-width="3">
									<path d="M8.5,0.25 L166.5,0.25" class="bottom-underline" stroke-width={{strokeWidth}}></path>
									<path d="M0.5,0.208333333 L4.5,0.208333333" id="Line-5-Copy"></path>
									<path d="M171.5,0.208333333 L175.5,0.208333333" id="Line-5-Copy-2"></path>
							</g>
					</g>
					<g id="Phone-Login" class="hide-small-device" transform="translate(82.000000, 43.000000)">
							<rect id="Phone-Frame" class="stroke1 fill-base" stroke-width={{strokeWidth}} x="1.5" y="1.5" width="90" height="157" rx="10"></rect>
							<path d="M36.5,10.5 L56.5,10.5" id="Mic" class="stroke1" stroke-width="3" stroke-linecap="round"></path>
							<path d="M61.5,10.5 L63.5,10.5" id="Camera" class="stroke1" stroke-width="3" stroke-linecap="round"></path>
							<rect id="BG" class="fill3" x="8" y="17" width="77" height="125"></rect>
							<g id="Inputs" transform="translate(15.000000, 69.000000)">
									<rect id="Input" class="fill-base" x="0" y="0" width="63" height="15"></rect>
									<rect id="Input" class="fill-base" x="0" y="19" width="63" height="15"></rect>
									<rect id="Button" fill={{activeBrandColor}} x="0" y="38" width="63" height="15"></rect>
									<polyline id="Button-Check" class="stroke-base" stroke-width="2" stroke-linecap="round" points="25.3500977 45.7382812 28.7397461 49.4765625 36.8149414 42"></polyline>
							</g>
							<circle id="Circle" fill={{activeBrandColor}} cx="45" cy="44" r="16"></circle>
							<g id="Bank" transform="translate(35.000000, 34.000000)" class="stroke-base">
									<rect id="Rectangle-7" stroke-linecap="round" stroke-linejoin="round" x="3" y="6" width="2" height="7"></rect>
									<rect id="Rectangle-7-Copy" stroke-linecap="round" stroke-linejoin="round" x="9" y="6" width="2" height="7"></rect>
									<rect id="Rectangle-7-Copy-2" stroke-linecap="round" stroke-linejoin="round" x="15" y="6" width="2" height="7"></rect>
									<polygon id="Triangle" stroke-linecap="round" stroke-linejoin="round" points="10 0 20 6 0 6"></polygon>
									<rect id="Rectangle-2" stroke-linecap="round" stroke-linejoin="round" x="0" y="15" width="20" height="2"></rect>
									<circle id="Oval-5" cx="10" cy="3.5" r="1"></circle>
									<rect id="Rectangle-2-Copy" stroke-linecap="round" stroke-linejoin="round" x="2" y="13" width="16" height="2"></rect>
							</g>
					</g>
					<g id="Input" class="hide-small-device" transform="translate(56.000000, 180.000000)">
							<rect id="Input-Box" class="stroke1 fill5" stroke-width={{strokeWidth}} x="1.5" y="1.5" width="82" height="20"></rect>
							<polygon id="Shadow" class="shadow" points="82 5 6 5 6 20 3 20 3 3 82 3"></polygon>
							<g id="Stars" transform="translate(10.000000, 8.000000)" fill={{activeBrandColor}}>
									<polygon id="*" points="2.77333333 7.33714286 2.94095238 4.6247619 0.731428571 6.11047619 0 4.84571429 2.4 3.67238095 0 2.48380952 0.731428571 1.24190476 2.94095238 2.72 2.77333333 0 4.24380952 0 4.03809524 2.72 6.30095238 1.24190476 7.03238095 2.48380952 4.6247619 3.67238095 7.03238095 4.84571429 6.30095238 6.11047619 4.03809524 4.6247619 4.24380952 7.33714286"></polygon>
									<polygon id="*-copy-2" points="30.7733333 7.33714286 30.9409524 4.6247619 28.7314286 6.11047619 28 4.84571429 30.4 3.67238095 28 2.48380952 28.7314286 1.24190476 30.9409524 2.72 30.7733333 0 32.2438095 0 32.0380952 2.72 34.3009524 1.24190476 35.032381 2.48380952 32.6247619 3.67238095 35.032381 4.84571429 34.3009524 6.11047619 32.0380952 4.6247619 32.2438095 7.33714286"></polygon>
									<polygon id="*-copy" points="16.7733333 7.33714286 16.9409524 4.6247619 14.7314286 6.11047619 14 4.84571429 16.4 3.67238095 14 2.48380952 14.7314286 1.24190476 16.9409524 2.72 16.7733333 0 18.2438095 0 18.0380952 2.72 20.3009524 1.24190476 21.032381 2.48380952 18.6247619 3.67238095 21.032381 4.84571429 20.3009524 6.11047619 18.0380952 4.6247619 18.2438095 7.33714286"></polygon>
									<polygon id="*-copy-3" points="44.7733333 7.33714286 44.9409524 4.6247619 42.7314286 6.11047619 42 4.84571429 44.4 3.67238095 42 2.48380952 42.7314286 1.24190476 44.9409524 2.72 44.7733333 0 46.2438095 0 46.0380952 2.72 48.3009524 1.24190476 49.032381 2.48380952 46.6247619 3.67238095 49.032381 4.84571429 48.3009524 6.11047619 46.0380952 4.6247619 46.2438095 7.33714286"></polygon>
									<polygon id="*-copy-4" points="58.7733333 7.33714286 58.9409524 4.6247619 56.7314286 6.11047619 56 4.84571429 58.4 3.67238095 56 2.48380952 56.7314286 1.24190476 58.9409524 2.72 58.7733333 0 60.2438095 0 60.0380952 2.72 62.3009524 1.24190476 63.032381 2.48380952 60.6247619 3.67238095 63.032381 4.84571429 62.3009524 6.11047619 60.0380952 4.6247619 60.2438095 7.33714286"></polygon>
							</g>
					</g>
					<g id="Lock" class="move-lock noscale" transform="translate(140.000000, 98.000000)">
							<path d="M3.5,49.9633789 L57.5,49.9633789 L57.5,28.5 C57.5,13.5883118 45.4116882,1.5 30.5,1.5 C15.5883118,1.5 3.5,13.5883118 3.5,28.5 L3.5,49.9633789 Z M30.5,13.5 C39.336556,13.5 46.5,20.663444 46.5,29.5 L46.5,50.074707 L14.5,50.074707 L14.5,29.5 C14.5,20.663444 21.663444,13.5 30.5,13.5 Z" id="Latch" class="stroke1 fill-base" stroke-width="3"></path>
							<rect id="Rectangle" class="stroke1 fill4" stroke-width="3" x="-1.5" y="41.5" width="64" height="62" rx="4"></rect>
							<path d="M4,43 L47.5800781,43 L8.95117188,102 L4,102 C1.790861,102 -4.02776708e-13,100.209139 -4.05009359e-13,98 L-4.01456646e-13,47 C-4.01727187e-13,44.790861 1.790861,43 4,43 Z" id="Top-Shadow" class="shadow" style="mix-blend-mode: overlay;"></path>
							<path d="M57,43 C59.209139,43 61,44.790861 61,47 L61,98 C61,100.209139 59.209139,102 57,102 L4,102 C1.790861,102 2.705415e-16,100.209139 0,98 L57,98 L57,43 Z" id="Bottom-Shadow" class="shadow" style="mix-blend-mode: overlay;"></path>
							<path d="M34,70.1349534 L34,84 C34,85.6568542 32.6568542,87 31,87 L30,87 C28.3431458,87 27,85.6568542 27,84 L27,70.1349534 C24.6210983,68.87746 23,66.3780439 23,63.5 C23,59.3578644 26.3578644,56 30.5,56 C34.6421356,56 38,59.3578644 38,63.5 C38,66.3780439 36.3789017,68.87746 34,70.1349534 Z" id="Keyhole" class="fill1"></path>
					</g>
			</g>
	</svg>