<svg width="260px" height="260px" viewBox="0 0 260 260" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
			<title>Intro-Security</title>
			<desc>Created with Sketch.</desc>
			<defs></defs>
			<g id="Fast-Check-Deposit" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
					<g id="Circle-Frame" transform="translate(26.000000, 26.000000)">
							<g id="BG-Shapes">
									<circle id="Oval-2" class="stroke3 base-fill" stroke-width="2" cx="15.5" cy="57.5" r="4.5"></circle>
									<circle id="Oval-2-Copy" class="stroke3 base-fill" stroke-width="2" cx="164.5" cy="21.5" r="4.5"></circle>
									<polygon id="Combined-Shape-Copy" class="fill3" points="126 4 130 4 130 6 126 6 126 10 124 10 124 6 120 6 120 4 124 4 124 0 126 0"></polygon>
									<path d="M63.5,5.25 L100.5,5.25" id="Line-4" class="stroke3" stroke-width="2" stroke-linecap="round"></path>
									<path d="M104,5.20833333 L108,5.20833333" id="Line-4-Copy" class="stroke3" stroke-width="2" stroke-linecap="round"></path>
									<path d="M112,5.20833333 L116,5.20833333" id="Line-4-Copy-2" class="stroke3" stroke-width="2" stroke-linecap="round"></path>
									<polygon id="Combined-Shape-Copy" class="fill3" points="183 39 187 39 187 41 183 41 183 45 181 45 181 41 177 41 177 39 181 39 181 35 183 35"></polygon>
									<path d="M129.5,40.25 L166.5,40.25" id="Line-4" class="stroke3" stroke-width="2" stroke-linecap="round"></path>
									<path d="M170,40.2083333 L174,40.2083333" id="Line-4-Copy" class="stroke3" stroke-width="2" stroke-linecap="round"></path>
									<path d="M163.5,57.25 L200.5,57.25" id="Line-4" class="stroke3" stroke-width="2" stroke-linecap="round"></path>
									<path d="M204,57.2083333 L208,57.2083333" id="Line-4-Copy" class="stroke3" stroke-width="2" stroke-linecap="round"></path>
									<polygon id="Combined-Shape-Copy" class="fill3" transform="translate(11.000000, 30.000000) rotate(180.000000) translate(-11.000000, -30.000000) " points="12 29 16 29 16 31 12 31 12 35 10 35 10 31 6 31 6 29 10 29 10 25 12 25"></polygon>
									<path d="M28.5,30.15 L65.5,30.15" id="Line-4" class="stroke3" stroke-width="2" stroke-linecap="round" transform="translate(47.000000, 29.950000) rotate(180.000000) translate(-47.000000, -29.950000) "></path>
									<path d="M20,30.1083333 L24,30.1083333" id="Line-4-Copy-2" class="stroke3" stroke-width="2" stroke-linecap="round" transform="translate(22.000000, 29.950000) rotate(180.000000) translate(-22.000000, -29.950000) "></path>
									<polygon id="Combined-Shape-Copy" class="fill3" points="6 88 10 88 10 90 6 90 6 94 4 94 4 90 0 90 0 88 4 88 4 84 6 84"></polygon>
									<polygon id="Combined-Shape" class="fill3" points="12 29 16 29 16 31 12 31 12 35 10 35 10 31 6 31 6 29 10 29 10 25 12 25"></polygon>
							</g>
							<circle id="Circle-Frame-3" class="stroke1" fill={{activeBgColor}} stroke-width={{strokeWidth}} cx="104" cy="118" r="91"></circle>
							<path d="M35,175.117648 L172.858761,175.117648 C156.451726,194.932133 131.664695,207.555233 103.929381,207.555233 C76.1940667,207.555233 51.4070355,194.932133 35,175.117648 Z" id="Circle-Floor" class="fill5"></path>
							<path d="M163.152815,175 L172.858761,175 C156.451726,194.814486 131.664695,207.437585 103.929381,207.437585 C94.9813075,207.437585 86.3401097,206.123695 78.1881878,203.678317 C83.9224735,204.832144 89.8552229,205.437585 95.9293807,205.437585 C122.719744,205.437585 146.759299,193.659979 163.152815,175 Z" id="Circle-Shadow" class="shadow"></path>
							<g id="Line" transform="translate(15.000000, 175.000000)" class="stroke1" stroke-linecap="round" stroke-width="3">
									<path d="M8.5,0.25 L166.5,0.25" class="bottom-underline" stroke-width={{strokeWidth}}></path>
									<path d="M0.5,0.208333333 L4.5,0.208333333" id="Line-5-Copy"></path>
									<path d="M171.5,0.208333333 L175.5,0.208333333" id="Line-5-Copy-2"></path>
							</g>
					</g>
					<g id="Phone-Login" transform="translate(82.000000, 43.000000)">
							<rect id="Phone-Frame" class="stroke1 fill-base" stroke-width={{strokeWidth}} x="1.5" y="1.5" width="90" height="157" rx="10"></rect>
							<path d="M36.5,10.5 L56.5,10.5" id="Mic" class="stroke1" stroke-width="3" stroke-linecap="round"></path>
							<path d="M61.5,10.5 L63.5,10.5" id="Camera" class="stroke1" stroke-width="3" stroke-linecap="round"></path>
							<rect id="BG" class="fill3" x="8" y="17" width="77" height="125"></rect>
							<g id="Inputs" transform="translate(15.000000, 69.000000)">
									<rect id="Input" class="fill-base" x="0" y="0" width="63" height="15"></rect>
									<rect id="Input" class="fill-base" x="0" y="19" width="63" height="15"></rect>
									<rect id="Button" fill={{activeBrandColor}} x="0" y="38" width="63" height="15"></rect>
									<polyline id="Button-Check" class="stroke-base" stroke-width="2" stroke-linecap="round" points="25.3500977 45.7382812 28.7397461 49.4765625 36.8149414 42"></polyline>
							</g>
							<circle id="Circle" fill={{activeBrandColor}} cx="45" cy="44" r="16"></circle>
							<g id="Bank" transform="translate(35.000000, 34.000000)" class="stroke-base">
									<rect id="Rectangle-7" stroke-linecap="round" stroke-linejoin="round" x="3" y="6" width="2" height="7"></rect>
									<rect id="Rectangle-7-Copy" stroke-linecap="round" stroke-linejoin="round" x="9" y="6" width="2" height="7"></rect>
									<rect id="Rectangle-7-Copy-2" stroke-linecap="round" stroke-linejoin="round" x="15" y="6" width="2" height="7"></rect>
									<polygon id="Triangle" stroke-linecap="round" stroke-linejoin="round" points="10 0 20 6 0 6"></polygon>
									<rect id="Rectangle-2" stroke-linecap="round" stroke-linejoin="round" x="0" y="15" width="20" height="2"></rect>
									<circle id="Oval-5" cx="10" cy="3.5" r="1"></circle>
									<rect id="Rectangle-2-Copy" stroke-linecap="round" stroke-linejoin="round" x="2" y="13" width="16" height="2"></rect>
							</g>
					</g>
					<g id="Check" transform="translate(54.000000, 133.000000)">
            <rect id="check" class="stroke1 fill3" stroke-width={{strokeWidth}} x="-0.5" y="-1.5" width="150" height="70" rx="3"></rect>
            <path d="M145.302752,3.03612011e-16 L145.977064,3.03612011e-16 C147.094301,9.55297088e-17 148,0.918273115 148,2.05102041 L148,64.9489796 C148,66.0817269 147.094301,67 145.977064,67 L3.02293578,67 C1.9056992,67 1,66.0817269 1,64.9489796 L1,64.2653061 L145.302752,64.2653061 L145.302752,3.03612011e-16 Z" id="shadow" class="shadow"></path>
            <path d="M79,53 L82,56" id="x" class="stroke3" stroke-linecap="round"></path>
            <path d="M79,56 L82,53" id="x" class="stroke3" stroke-linecap="round"></path>
            <path d="M79,59 L142.659574,59" id="line" stroke={{activeBrandColor}} stroke-width="2" stroke-linecap="round"></path>
            <path d="M8,30 L95.6589147,30" id="line" stroke={{activeBrandColor}} stroke-width="2" stroke-linecap="round"></path>
            <path d="M8,40.8333333 L139,40.8333333" id="line" stroke={{activeBrandColor}} stroke-width="2" stroke-linecap="round"></path>
            <path d="M3,-9.78785167e-14 L130,-3.02524445e-14 L13.1388965,67 L3,67 C1.34314575,67 -1.03156711e-13,65.6568542 -1.09245946e-13,64 L-1.00808251e-13,3 C-1.01011157e-13,1.34314575 1.34314575,-9.91716238e-14 3,-9.9475983e-14 Z" id="shadow" class="shadow" style="mix-blend-mode: overlay;"></path>
            <g id="signature" transform="translate(86.000000, 48.000000)" class="stroke1" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                <path d="M11.6801631,10.2926304 C8.48786262,10.1881744 5.22902035,10.6635503 2.10326172,9.97926235 C-7.90184375,7.78895469 21.3830649,-8.16889397 15.0569515,5.43267671 C12.9431328,9.97752945 10.0274585,14.0667913 7.51271202,18.3838486" id="Path-5"></path>
                <path d="M14.8433735,9.76040471 C20.9420593,4.39628674 18.6405755,16.4424935 24.8241717,2.37907514 C25.7015941,0.383544026 19.9881711,10.1936021 21.932323,10.0284169 C35.6730439,8.860934 20.9950773,4.0791338 28.8334902,9.63876842" id="Path-6"></path>
                <path d="M32.8573042,1.19226721 C41.1195797,-2.16469031 31.3645337,12.8508263 31.0361446,13.5922961" id="Path-7"></path>
                <path d="M41.274567,0.703703704 C39.6609563,4.72869647 38.0473456,8.75368924 36.4337349,12.778682" id="Path-8"></path>
                <path d="M31.0361446,7.03703704 C34.6747302,7.06864873 38.3133158,7.10026042 41.9519014,7.13187211" id="Path-9"></path>
                <path d="M41.5936195,7.51760441 C37.327085,10.7522001 41.948619,7.9141269 42.6722151,7.60556737 C43.2731064,7.34933228 43.7124725,8.81339365 44.34249,8.65012756 C44.973318,8.48665144 44.7033788,6.8954457 45.3532204,6.9107974 C45.9725738,6.92542887 45.4761179,8.58946031 46.0878778,8.69136019 C46.7306296,8.79842233 47.290479,7.91419781 47.4820796,7.2653981 C48.136575,5.04913986 49.5051246,-1.69190054 48.5376142,0.39604046 C42.5880123,13.2356106 50.425572,7.06058893 52.2458221,7.46606361 C52.8240775,7.59487445 52.4865275,8.92030563 53.0470269,9.11674359 C53.9123247,9.42000409 54.8528125,8.83636164 55.7557054,8.69617067" id="Path-10"></path>
            </g>
            <rect id="details" fill={{activeBrandColor}} x="7" y="7" width="41" height="11"></rect>
            <rect id="details" fill={{activeBrandColor}} x="100" y="19" width="41" height="11"></rect>
            <rect id="details" fill={{activeBrandColor}} x="7" y="58" width="32" height="4"></rect>
            <rect id="details" fill={{activeBrandColor}} x="42" y="58" width="32" height="4"></rect>
        </g>
        	<g id="Timer" transform="translate(34.000000, 104.000000)">
            <g id="dial" transform="translate(35.000000, 0.000000)" class="stroke1 fill4" stroke-width="2">
                <rect id="base" x="4.07692308" y="4.84615385" width="11.8461538" height="4.15384615"></rect>
                <rect id="knob" x="1" y="1" width="18" height="4.15384615" rx="2"></rect>
            </g>
            <g id="dial" transform="translate(77.000000, 19.000000) rotate(-315.000000) translate(-77.000000, -19.000000) translate(67.000000, 14.000000)" class="stroke1 fill4" stroke-width="2">
                <rect id="base" x="4.07692308" y="4.84615385" width="11.8461538" height="4.15384615"></rect>
                <rect id="knob" x="1" y="1" width="18" height="4.15384615" rx="2"></rect>
            </g>
            <g id="dial" transform="translate(11.000000, 19.000000) rotate(-45.000000) translate(-11.000000, -19.000000) translate(1.000000, 14.000000)" class="stroke1 fill4" stroke-width="2">
                <rect id="base" x="4.07692308" y="4.84615385" width="11.8461538" height="4.15384615"></rect>
                <rect id="knob" x="1" y="1" width="18" height="4.15384615" rx="2"></rect>
            </g>
            <ellipse id="clock" class="stroke1 fill-base" stroke-width={{strokeWidth}} cx="44.5" cy="53" rx="43.5" ry="44"></ellipse>
            <path d="M43,16.3870968 L43,87.6129032" id="Line-16" class="stroke1" stroke-width="3" stroke-linecap="round"></path>
            <path d="M80,52 L8,52" id="Line-16" class="stroke1" stroke-width="3" stroke-linecap="round"></path>
            <path d="M62,23 L28,81" id="Line-16" class="stroke4" stroke-width="3" stroke-linecap="round"></path>
            <path d="M74,69 L16,36" id="Line-16" class="stroke4" stroke-width="3" stroke-linecap="round"></path>
            <path d="M74,36 L16,69" id="Line-16" class="stroke4" stroke-width="3" stroke-linecap="round"></path>
            <path d="M62,82 L28,24" id="Line-16" class="stroke4" stroke-width="3" stroke-linecap="round"></path>
            <circle id="mask" class="fill-base" cx="44" cy="52" r="30"></circle>
            <path d="M44,22 C27.4314575,22 14,35.4314575 14,52 C22.954305,52 32.954305,52 44,52 C44,36.9358054 44,26.9358054 44,22 Z" id="15sec" class="fill3"></path>
            <path d="M22.7,89.9095644 C27.4604045,91.5857621 32.5966347,92.4997326 37.9525375,92.4997326 C62.6772642,92.4997326 82.7206153,73.0223836 82.7206153,48.995856 C82.7206153,38.5663771 78.9439062,28.9940864 72.6469862,21.5 C81.2788015,29.2764153 86.7,40.5072834 86.7,52.9962125 C86.7,76.4704061 67.5474645,95.5 43.9216146,95.5 C36.1988812,95.5 28.9541134,93.4667222 22.7,89.9095644 Z" id="shadow" class="shadow"></path>
            <path d="M44,52 L32.375,20.3902439" id="bighand" class="stroke1" stroke-width="4" stroke-linecap="round"></path>
            <path d="M43.4074074,52.5 L64.5925926,52.5" id="littlehand" class="stroke1" stroke-width="4" stroke-linecap="round"></path>
        </g>	
			</g>
	</svg>